<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Word Ladder</title>
	</head>
	<body>
		<h1>Word Ladder</h1>
		<form th:action="@{/}" th:object="${word}" method="post">
			<p>word1: <input th:field="*{word1}" type="text" name="word1"/></p>
			<p>word2: <input th:field="*{word2}" type="text" name="word2"/></p>
			<input type="submit" value="Submit" />
		</form>
		<p th:text="${answer}"></p>
	</body>
</html>